.room {
  width: 100%;
}

// Grid is used to display the teacher and students image (or stream video in theory)
// The main focus and space is given to the teacher as anyone can have a good view.
.displayTeacherStudents {
  transition: all 1s;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50vh 100px;
  column-gap: 0.1rem;
  row-gap: 0.2rem;
}

.teacher {
  grid-column: 1 / span 6;
  grid-row: 1 / 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/curtain-theater-1.png);
  background-color: #f5d4a7;
  border-radius: 1rem;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.teacher img {
  max-width: 270px;
}

.studentList {
  transition: all 1s;
  width: 25%;
  position: fixed;
  right: 0;
}

.open.displayTeacherStudents {
  width: 75%;
}

.close.displayTeacherStudents {
  width: 100%;
}

.open.studentList {
  transform: translateX(0);
}

.close.studentList {
  transform: translateX(100%);
}
