.studentList {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.studentList h3 {
  margin-inline-start: 0;
}

.studentList .studentItem:hover {
  cursor: pointer;
  background-color: rgb(215, 241, 243);
}
