/* A font I tried, but a bit too exotic to display information */
@font-face {
  font-family: "Virgil";
  src: url("fonts/Virgil.woff2") format("woff2"),
    url("fonts//Cascadia.ttf") format("truetype");
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  margin: 0;
  font-family: "Special Elite", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  padding: 8px 12px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}
